In [80]:
pd.set_option('display.max_rows', None)

car_t = pd.read_csv('./train-data.csv')
car_te = pd.read_csv('./test-data.csv')

In [119]:
def get_split(column, new):

    ls1 = car_t[column]
    ls2 = []
    for i in range(0,len(car_t)):
        ls2.append(ls1[i].split(' ')[0])
        
    car_t[new] = ls2
    print(new)
    
def get_split2(column, new):

    ls1 = car_t[column]
    ls2 = []
    for i in range(0,len(car_t)):
        ls2.append(ls1.str.split(' ', n=1)[i][1])
        
    car_t[new] = ls2
    print(new)

In [82]:
dummy_col = ['Brand', 'Fuel_Type', 'Transmission']

In [83]:
# for i in dummy_col:
#     dummy = pd.get_dummies(car_t[i])
#     pd.concat([car_t, dummy], axis=1)
#     print(i)

In [84]:
get_split('Name', 'Brand')

Brand

In [85]:
get_split2('Name', 'Car_name')

Car_name

In [86]:
for i in dummy_col:
    dummy = pd.get_dummies(car_t[i])
    car_t = pd.concat([car_t, dummy], axis=1)
    print(i)

Brand
Fuel_Type
Transmission

In [87]:
car_t['Owner'] = range(0,len(car_t))

In [88]:
for i in range(0,len(car_t)):
    if car_t['Owner_Type'][i] == 'First':
        car_t['Owner'][i] = 1

    elif car_t['Owner_Type'][i] == 'Second':
        car_t['Owner'][i] = 2

    elif car_t['Owner_Type'][i] == 'Third':
        car_t['Owner'][i] = 3

    elif car_t['Owner_Type'][i] == 'Fourth & Above':
        car_t['Owner'][i] = 4

/Users/kim-yeongjin/opt/anaconda3/envs/pyt/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/kim-yeongjin/opt/anaconda3/envs/pyt/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/kim-yeongjin/opt/anaconda3/envs/pyt/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/Users/kim-yeongjin/opt/anaconda3/envs/pyt/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [95]:
car_t['Mileage'][1].split(' ')[0]

'19.67'

In [101]:
car_t[car_t['Mileage'].isnull()]

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,...,Volkswagen,Volvo,CNG,Diesel,Electric,LPG,Petrol,Automatic,Manual,Owner
4446,4446,Mahindra E Verito D4,Chennai,2016,50000,Electric,Automatic,First,NaN,72 CC,...,0,0,0,0,1,0,0,1,0,1
4904,4904,Toyota Prius 2009-2016 Z4,Mumbai,2011,44000,Electric,Automatic,First,NaN,1798 CC,...,0,0,0,0,1,0,0,1,0,1

In [104]:
car_t['Mileage'].head()

0    26.6 km/kg
1    19.67 kmpl
2     18.2 kmpl
3    20.77 kmpl
4     15.2 kmpl
Name: Mileage, dtype: object

In [108]:
car_t[car_t['Fuel_Type'] == 'Electric']

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,...,Volkswagen,Volvo,CNG,Diesel,Electric,LPG,Petrol,Automatic,Manual,Owner
4446,4446,Mahindra E Verito D4,Chennai,2016,50000,Electric,Automatic,First,NaN,72 CC,...,0,0,0,0,1,0,0,1,0,1
4904,4904,Toyota Prius 2009-2016 Z4,Mumbai,2011,44000,Electric,Automatic,First,NaN,1798 CC,...,0,0,0,0,1,0,0,1,0,1

In [110]:
car_td = car_t.drop([4446, 4904])

In [114]:
car_td.reset_index(drop=True, inplace = True)

In [121]:
car_td.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6017 entries, 0 to 6016
Data columns (total 56 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         6017 non-null   int64
 1   Name               6017 non-null   object
 2   Location           6017 non-null   object
 3   Year               6017 non-null   int64
 4   Kilometers_Driven  6017 non-null   int64
 5   Fuel_Type          6017 non-null   object
 6   Transmission       6017 non-null   object
 7   Owner_Type         6017 non-null   object
 8   Mileage            6017 non-null   object
 9   Engine             5981 non-null   object
 10  Power              5981 non-null   object
 11  Seats              5975 non-null   float64
 12  New_Price          823 non-null    object
 13  Price              6017 non-null   float64
 14  Brand              6017 non-null   object
 15  Car_name           6017 non-null   object
 16  Ambassador         6017 non-null   uint8
 17  Audi               6017 non-null   uint8
 18  BMW                6017 non-null   uint8
 19  Bentley            6017 non-null   uint8
 20  Chevrolet          6017 non-null   uint8
 21  Datsun             6017 non-null   uint8
 22  Fiat               6017 non-null   uint8
 23  Force              6017 non-null   uint8
 24  Ford               6017 non-null   uint8
 25  Honda              6017 non-null   uint8
 26  Hyundai            6017 non-null   uint8
 27  ISUZU              6017 non-null   uint8
 28  Isuzu              6017 non-null   uint8
 29  Jaguar             6017 non-null   uint8
 30  Jeep               6017 non-null   uint8
 31  Lamborghini        6017 non-null   uint8
 32  Land               6017 non-null   uint8
 33  Mahindra           6017 non-null   uint8
 34  Maruti             6017 non-null   uint8
 35  Mercedes-Benz      6017 non-null   uint8
 36  Mini               6017 non-null   uint8
 37  Mitsubishi         6017 non-null   uint8
 38  Nissan             6017 non-null   uint8
 39  Porsche            6017 non-null   uint8
 40  Renault            6017 non-null   uint8
 41  Skoda              6017 non-null   uint8
 42  Smart              6017 non-null   uint8
 43  Tata               6017 non-null   uint8
 44  Toyota             6017 non-null   uint8
 45  Volkswagen         6017 non-null   uint8
 46  Volvo              6017 non-null   uint8
 47  CNG                6017 non-null   uint8
 48  Diesel             6017 non-null   uint8
 49  Electric           6017 non-null   uint8
 50  LPG                6017 non-null   uint8
 51  Petrol             6017 non-null   uint8
 52  Automatic          6017 non-null   uint8
 53  Manual             6017 non-null   uint8
 54  Owner              6017 non-null   int64
 55  Mile               6017 non-null   object
dtypes: float64(2), int64(4), object(12), uint8(38)
memory usage: 1.0+ MB